<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.solved.mvchw017.persistence.EmployeeRepository">

	<insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into Employees (first_name, last_name, position, department)
		values (${employee.name}, ${employee.lastName}, ${employee.position}, ${employee.department})
	</insert>

	<select id="findAll" resultMap="EmployeeResultMap">

		select p.id          as passport_id,
		       p.number      as passport_number,
		       p.expire_date as passport_date_expire,
		       e.id          as employee_id,
		       e.first_name  as employee_name,
		       e.last_name   as employee_last_name,
		       e.position    as employee_position,
		       e.department  as employee_department,
		       k.id          as kitchen_id,
		       a.city        as address_city,
		       a.street      as address_street
		from Passports p
			     left join Employees e
			               on p.id = e.passport_id
			     left join Kitchen_employees ke
			               on e.id = ke.employee_id
			     left join Kitchens k
			               on k.id = ke.kitchen_id
			     left join Addresses a
			               on a.id = e.address_id


	</select>

	<resultMap id="EmployeeResultMap" type="com.solved.mvchw017.domain.Employee" autoMapping="false">
		<id property="id" column="employee_id"/>
		<result property="name" column="employee_name"/>
		<result property="lastName" column="employee_last_name"/>
		<result property="position" column="employee_position"/>
		<result property="department" column="employee_department"/>

		<association property="passport"
		             resultMap="com.solved.mvchw017.persistence.PassportRepository.PassportResultMap"/>
		<association property="address"
		             resultMap="com.solved.mvchw017.persistence.AddressRepository.AddressResultMap"/>
		<!--		<association property="kitchen"-->
		<!--		             resultMap="com.solved.mvchw017.persistence.KitchenRepository.KitchenResultMap"/>-->

	</resultMap>

</mapper>