<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.solved.mvchw017.persistence.PassportRepository">

	<insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into Passports (number, expiredAt) values (#{number},#{expiredAt})
	</insert>

	<select id="findAll" resultMap="">
		select
p.id as passport_id p.number as passport_number p.expire_date as passport_date_expire e.id as employee_id
		e.name as employee_name k.id as kitchen_id from Passports p left join Employees e
on p.id = e.passport_id
left join Kitchen_employees ke
on e.id = ke.employee_id
left join Kitchens k
on k.id = ke.kitchen_id

	</select>
	
	<resultMap id="PassportResultMap" type="com.solved.mvchw017.domain.Passport" autoMapping="false">
		<id property="id" column="passport_id"/>
		<result property="number" column="passport_number"/>
		<result property="expire_date" column="passport_date_expire"/>
<!--		<association property="employee"-->
	</resultMap>
</mapper>